<div class='top-nav container-fluid'>
  <div class='top-nav-menu col-md-2 shaded'>
    Menu &nbsp;
    <%= image_tag("/assets/3strips.png", class:"strip-button") %>
  </div>
  <div class='top-nav-links col-md-3'>
    <a href="/"><span class="col-md-4 current"> AC </span></a>
    <a href="/"><span class="col-md-4 noncurrent"> Market </span></a>
    <a href="/"><span class="col-md-4 noncurrent"> Store </span></a>
  </div>
  <div class='top-nav-search col-md-4'>
    <input class='search-bar' placeholder="Search for users, styles, brands, and more" />
  </div>
  <div class='top-nav-profile col-md-3'>
    <% if current_admin%>
      Admin <%= current_admin.username %>
      <%= link_to "Sign Out", admin_signed_out_path %>
      <%= link_to image_tag("/assets/gear.png", class: "nav-icon"), admin_account_settings_path %>
      <%= link_to "Users", admin_users_path %>
    <% elsif current_user %>
      <%= image_tag("/assets/message-icon.png", class: "nav-icon") %>
      <%= image_tag("/assets/notification-icon.png", class: "nav-icon") %>
      <%= current_user.username %>
      <%= link_to image_tag("/assets/gear.png", class: "nav-icon"), account_settings_path %>
      <%= link_to "Sign Out", signed_out_path %>
    <% else %>
      <%= link_to "Sign up", new_user_path %> or
      <%= link_to "Sign In", sign_in_path %>
    <% end %>
  </div>
</div>
