<div class='banner-container col-md-12 col-sm-12'>
  <%= image_tag("/assets/AC_top.png", class: 'banner-image') %>
</div>
<% if !current_user %>
  <div class="button col-md-4 col-sm-4 hidden-xs">
  </div>
  <div class="button col-md-4 col-sm-4 hidden-xs">
    <%= link_to "#sign-in", class: "fancybox" do%>
      <div class="button login col-md-5 col-sm-5">
        Login
      </div>
    <% end %>
    <div class="col-md-1 col-sm-1"></div>
    <%= link_to new_user_path do%>
      <div class="button join col-md-5 col-sm-5">
        Join
      </div>
    <% end %>
  </div>
  <div class="button col-md-4 col-sm-4 hidden-xs">
  </div>
<% end %>
<div class ="col-md-12">
  <% for post in @posts %>
    <div class="col-md-4 col-xs-12 post-container">
      <%= link_to post_path(post), remote: true do %>
        <div class="caption-window">
          <%= image_tag("/assets/rectangle_pics/" + post.id.to_s + ".jpg", class: "post-image") %>
          <div class="caption top">
            Views<br \>Likes
          </div>
          <div class="caption bottom">
            <span><%= post.name.titleize %></span><br />
            <%= post.user_name %>
          </div>
        </div>
      <% end %>
    </div>
  <% end%>
</div>

<div class="modal fade" id= "postModal" tabindex="-1" role = "dialog" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content col-md-12">
    </div>
  </div>
</div>
