<div class='banner-container col-md-12 col-sm-12'>
  <%= image_tag("/assets/AC_top.png", class: 'banner-image') %>
</div>
<% if !current_user %>
  <div class="button col-md-4 col-sm-4 hidden-xs">
  </div>
  <div class="button col-md-4 col-sm-4 hidden-xs">
    <%= link_to sign_in_path do %>
      <div class="button login col-md-5 col-sm-5">
        Login
      </div>
    <% end %>
    <div class="col-md-1 col-sm-1"></div>
    <%= link_to new_user_path do %>
      <div class="button join col-md-5 col-sm-5">
        Join
      </div>
    <% end %>
  </div>
  <div class="button col-md-4 col-sm-4 hidden-xs">
  </div>
<% end %>
<div class ="col-md-12">
  <% for post in @posts %>
    <div class="col-md-4 col-xs-12 post-container">
      <div class="caption top">
        <%= post.name %>
      </div>
      <%= image_tag("/assets/rectangle_pics/" + post.id.to_s + ".jpg", class: "post-image") %>
      <div class="caption bottom">
        <%= post.description %>
      </div>
    </div>
  <% end%>
</div>
