<h1>Account Settings</h1>
<%= form_for @user, :as => :user, :url => account_settings_path, :method => :put do |f| %>
    <p>
      <%= f.label 'current password:' %><br/>
      <%= f.password_field :password %>
      <%= show_field_error(@user, :password) %>
    </p>
    <p>
      <%= f.label 'username: (leave unchanged if you are not changing your username)' %><br/>
      <%= f.text_field :username %>
      <%= show_field_error(@user, :username) %>
    </p>
    <p>
      <%= f.label 'email: (leave unchanged if you are not changing your email address)' %><br/>
      <%= f.text_field :email %>
      <%= show_field_error(@user, :email) %>
    </p>
    <p>
      <%= f.label 'title: (leave unchanged if you are not changing your title)' %><br/>
      <%= f.text_field :title %>
      <%= show_field_error(@user, :title) %>
    </p>
    <p>
      <%= f.label 'country:' %><br/>
      <%= f.select :country, options_for_select(@countries, @user.country) %>
      <%= show_field_error(@user, :country) %>
    </p>
    <p>
      <%= f.label 'city: (leave unchanged if you are not changing your city)' %><br/>
      <%= f.text_field :city %>
      <%= show_field_error(@user, :city) %>
    </p>
    <p>
      <%= f.label 'age:' %><br/>
      <%= f.select :age, options_for_select(13..90, @user.age) %>
      <%= show_field_error(@user, :age) %>
    </p>
    <p>
      <%= f.label 'new password: (leave blank if you are not changing your password)' %><br/>
      <%= f.password_field :new_password %>
      <%= show_field_error(@user, :new_password) %>
    </p>
    <p>
      <%= f.label 'password confirmation:' %><br/>
      <%= f.password_field :new_password_confirmation %>
      <%= show_field_error(@user, :new_password_confirmation) %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
<% end %>
