<h1>Sign Up</h1>
<%= form_for @user, :as => :user, :url => new_user_path, :method => :put do |f| %>
  <p>
    <%= f.label 'username:' %><br/>
    <%= f.text_field :username %>
    <%= show_field_error(@user, :username) %>
  </p>
  <p>
    <%= f.label 'email:' %><br/>
    <%= f.text_field :email %>
    <%= show_field_error(@user, :email) %>
  </p>
  <p>
    <%= f.label 'title: (Ex: \'Fashion Blogger\')' %><br/>
    <%= f.text_field :title %>
    <%= show_field_error(@user, :title) %>
  </p>
  <p>
    <%= f.label 'country:' %><br/>
    <%= f.select(:country, options_for_select(@countries, "United States")) %>
    <%= show_field_error(@user, :country) %>
  </p>
  <p>
    <%= f.label 'city:' %><br/>
    <%= f.text_field :city %>
    <%= show_field_error(@user, :city) %>
  </p>
  <p>
    <%= f.label 'age:' %><br/>
    <%= f.select :age, options_for_select(13..90) %>
    <%= show_field_error(@user, :age) %>
  </p>
  <p>
    <%= f.label 'password:' %><br/>
    <%= f.password_field :password %>
    <%= show_field_error(@user, :password) %>
  </p>
  <p>
    <%= f.label 'password confirmation:' %><br/>
    <%= f.password_field :password_confirmation %>
    <%= show_field_error(@user, :password_confirmation) %>
  </p>
  <p>
    <%= f.submit 'Sign Up' %>&nbsp;&nbsp;&nbsp;
    <%= f.submit 'Clear Form', :type => 'reset' %>
  </p>
  <p>
    Remember Me&nbsp;
    <%= f.check_box :remember_me %>
  </p>
<% end %>
