<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apparel Code</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class='container-fluid'>
    <div class='top-nav container-fluid'>
      <div class='top-nav-menu col-md-2 shaded'>
        Menu &nbsp;
        <%= image_tag("/assets/3strips.png", class:"strip-button") %>
      </div>
      <div class='top-nav-links col-md-3'>
        <a href="/"><span class="col-md-4 current"> AC </span></a>
        <a href="/"><span class="col-md-4 noncurrent"> Market </span></a>
        <a href="/"><span class="col-md-4 noncurrent"> Store </span></a>
      </div>
      <div class='top-nav-search col-md-4'>
        <input class='search-bar' placeholder="Search for users, styles, brands, and more" />
      </div>
      <div class='top-nav-profile col-md-3'>
        <% if current_admin%>
        Admin <%= current_admin.username %>
        <%= link_to "Sign Out", admin_signed_out_path %>
        <%= link_to image_tag("/assets/gear.png", class: "nav-icon"), admin_account_settings_path %>
        <%= link_to "Users", admin_users_path %>
        <% elsif current_user %>
          <%= current_user.username %>
          <%= link_to image_tag("/assets/gear.png", class: "nav-icon"), account_settings_path %>
          <%= link_to "Sign Out", signed_out_path %>
        <% else %>
          <%= link_to "Sign up", new_user_path %> or
          <%= link_to "Sign In", sign_in_path %>
        <% end %>
      </div>
    </div>
    <div class='side-nav col-md-2'>
      <div class='col-md-12'>
        <%= image_tag("/assets/AC-Letters.jpg", class:"col-md-12 logo") %>
      </div>
      <div class='nav-item col-md-12'>
        News Feed
      </div>
      <div class='nav-item col-md-12'>
        Message 
      </div>
      <div class='nav-item col-md-12'>
        Events 
      </div>
      <div class='nav-item bottom-item col-md-12'>
        Wish List 
      </div>
      <div class='nav-item col-md-12'>
        Featured 
      </div>
      <div class='nav-item col-md-12'>
        Popular
      </div>
      <div class='nav-item col-md-12'>
        New
      </div>
    </div>
    <div class='content col-md-10'>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
